  <!-- Footer -->
  <footer class="footer">
    <div class="container">
        <p>&copy; Dakoda Greaves 2017-2018
          <span class="float-right align-text-bottom">
          <a href="http://dakoda.blue" target="_blank"><i class="fas fa-code"></i></a>
          <a href="http://linkedin/dakodagreaves" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="http://github.com/xanimo" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://stackoverflow.com/users/2217838/dakoda-greaves" target="_blank"><i class="fab fa-stack-overflow"></i></a>
        </span>
        </p>
    </div>
    </footer>