<header class="d-flex justify-content-between align-items-md-center pb-3 mb-5 border-bottom">
  <h1 class="h4">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span>auth</span>
    </a>
  </h1>
  <div class="d-flex">
  {{#if this.user}}
    <a href="/logout">Logout</a>
  {{else}}
    <a class="m-2" href="/signin">Sign In</a>
    <a class="m-2" href="/signup">Register</a>
  {{/if}}
  </div>
</header>