    <nav class="navbar navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/search"><i class="far fa-newspaper fa-2x"></i></a>
      {{#if this.user}}
      	<ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/saved">Saved Articles</a>
          </li>
      </ul>
      {{/if}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
        {{#if this.user}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Register</a>
          </li>
        {{/if}}
        </ul>
      </div>
    </nav>