<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-dark float-right" href="/logout">Logout</a>
			<h1 class="display-4 float-left">Account</h1>
			<input id="uid" type="hidden" value={{user}} />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		  <div id="root">
		  </div>
		</div>
	</div>
	<div class="form-row">
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Update Profile</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Password Reset</a>
		  </li>
		</ul>
	</div>
	<div class="form-row">
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		  	   <div class="table-responsive">
	            <table class="table table-striped table-sm">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Full name:</th>
	                  <th>Email:</th>
	                </tr>
	              </thead>
	              <tbody id="contact">
	                <tr>

	                </tr>
	              </tbody>
	            </table>
	        </div>
		  </div>
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		  	
		  </div>
		  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">{{>password}}</div>
		</div>
	</div>
	<br />
</div>