<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<form class="form-signin w-100 m-auto" id="signup" name="signup" method="POST" action="/signup">
			<h1 class="display-5">Sign up</h1>
			<div class="form-floating pb-2">
				<input class="form-control" name="firstname" type="text" placeholder="First name" />
				<label for="firstname">First name:</label>
			</div>
			<div class="form-floating pb-2">
				<input class="form-control" name="lastname" type="text" placeholder="Last Name" />
				<label for="lastname">Last name:</label>
			</div>
			<div class="form-floating pb-2">
				<input class="form-control" name="email" type="email" aria-describedby="emailHelp" placeholder="example@example.com" />
				<label for="email">Email:</label>
			</div>
			<div class="form-floating pb-2">
				<input class="form-control" name="password" type="password" placeholder="Password" />
				<label for="password">Password:</label>
			</div>
			<div class="form-floating pb-2">
			<button class="btn btn-primary form-control" type="submit">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
